
#in_progress {
    height: 35vh;
    padding: 1vw;
    border: 2px solid white;
    margin-top: 1vh;
    overflow: auto;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    width: 90vw;

}

#in_progress p {
    padding-left: 1vh;
}

#in_progress h2 {
    
        font-family: lato, sans-serif;
        font-style: normal;
        font-weight: 100;
        color: white;
        margin-bottom: 1vh;
        text-align: center;
        text-shadow: 2px 2px 2px black;
    
    }

    @media screen and (min-width: 769px) {
        #in_progress {
            width: 30vh;
            height: 40vh;
        }
    }

    
