#in_queue {
    max-height: 33%;
    padding: 1vw;
    border: 2px solid white;
    margin-top: 1vw;
    overflow: auto;
    
}

#in_queue h2 {
    
        font-family: lato, sans-serif;
        font-style: normal;
        font-weight: 100;
        color: white;
        margin-bottom: 1vw;
    
    
}