.kegs_header {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  display: grid; 
  grid-column: 1/-1;
}

#kegs {
    width: 90vw;
  padding: 1vw;
  border: 2px solid white;
  margin-top: 1vh;
  height: 35vh;
  overflow-y: auto;
  justify-content: center;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
  padding-bottom: 1vh;
  box-shadow: 2px 2px 10px black;

}

.keg {
  border: 1px solid white;
  text-align: center;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 1vh;
  box-shadow: 1px 1px 5px black;
  flex-basis: 130px;
  
}

.keg p {
  background-color: #1d1b2e;
  margin: 0 auto;
  font-size: 0.9rem;
}

.niveauindikator svg {
  width: 12vh;
  height: 7.5vh;
}

#indicators {
  .cls-1,
  .cls-5 {
    fill: none;
  }

  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-8 {
    stroke: #fff;
  }

  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-8 {
    stroke-miterlimit: 10;
  }

  .cls-1,
  .cls-3,
  .cls-4 {
    stroke-width: 2px;
  }

  .cls-2 {
    fill: #68bd96;
  }

  .cls-3 {
    fill: url(#radial-gradient);
  }

  .cls-4 {
    fill: url(#radial-gradient-2);
  }

  .cls-5 {
    stroke: #292d6b;
  }

  .cls-5,
  .cls-8 {
    stroke-width: 0.5px;
  }

  .cls-6 {
    fill: url(#radial-gradient-3);
  }

  .cls-7 {
    fill: url(#radial-gradient-4);
  }

  .cls-8 {
    fill: #1e1b30;
  }
}

@media screen and (min-width: 769px) {
    .kegs_header {
        display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
    }

    #kegs {
    display: flex;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  width: 60vh;
  overflow-y: hidden;
  flex-direction: none;
    }

    .keg {
        flex-basis: 10px;
    }
  }