#col3 .time_to_close {
    position: relative;
    font-family: lato, sans-serif;
        font-style: normal;
        font-weight: 100;
        color: #21f0aa;
        text-align: center;
        font-size: 1.5rem;
        top: 25vh;
        text-shadow: 2px 2px 2px black;
 
}

