
.order {
    padding: 0.5vw;
    border: 1px solid white;

}

.order:nth-child(odd) {
    background-color: #2a283d;
}

.order:nth-child(even) {
    background-color: #1d1b2e;
}

.order_id {
    font-size: 1.2rem;
    border-bottom: 1px dotted white;
    padding-left: 1vh;
}

