$our-greey: rgb(198, 192, 210);


.order {
    padding: 1vw;
    border: 1px solid $our-greey;
    margin-left: 1vh;
    margin-right: 1vh;

}

.order:nth-child(odd) {
    background-color: #363645;
}

.order:nth-child(even) {
    background-color: #464254;
}

.order_id {
    font-size: 1.2rem;
    border-bottom: 1px dotted $our-greey;
    padding-left: 1vh;
    color: $our-greey;
}

