#beer_amount {
    border: 2px solid white;
    height: 10vh;
    width: 30vh;
    margin-top: 1vh;
  
}

#beer_amount p {
    text-align: center;
    padding-top: 4vh;
    height: 30vh;
    width: 30vh;
}

#beer_graph {
    border: 2px solid white;
    height: 37.8vh;
    margin-top: 1vh;
    width: 30vh;


   
}

