#beer_amount {
    border: 2px solid white;
    height: 10vh;
    grid-area: 1/2;
    margin-top: 1vw;
    
  
}

#beer_graph {
    border: 2px solid white;
    height: 33vh;
    grid-area: 2/3;
    margin-top: 1vw;


   
}

