#beer_amount {
    border: 2px solid white;
    height: 8vh;
    margin-top: 1vh;
    box-shadow: 2px 2px 10px black;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
    width: 90vw;
}

#beer_amount p {
    text-align: center;
    font-size: 1.5rem;
    margin: 2.2vh;
}



#beer_graph {
    text-align: center;
    border: 2px solid white;
    height: 24.5vh;
    margin-top: 1vh;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    width: 90vw;
    overflow-y: auto;
}

@media screen and (min-width: 769px) {
    #beer_amount {
        width: 30vh;
        height: 10vh;
}

#beer_amount p {
    margin: 1vh;
    padding-bottom: 2vh;
    padding-top: 2.5vh;
}

#beer_graph {
    width: 30vh;
    height: 37.8vh;
}

}


