* {
    margin: 0;
}

html {
    overflow-y: hidden;
}


body {
    background-color: #2a283d;
    overflow-y: hidden;
}

.foobar_logo {
    display: none;
}

.foobar_logo_mobile {
    position: relative;
        margin: 0 auto;
        width: 32vh;
        height: 20vh;
        
}

.cols {
    display: grid; 
    grid-template-columns: 100vw 100vw 100vw;
    overflow-x: scroll;
    grid-template-rows: 1fr;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    
}

.cols p {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    margin-bottom: 0.5vw;
}

.cols ul {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    margin-bottom: 0.5vw;
}

#col1 {
    margin-top: 2vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
  
}

#col2 {
    margin-top: 2vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
   
    
   
}

#col3 {
    margin-top: 2vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    
}

@media screen and (min-width: 769px) {

    html {
        overflow-y: hidden;
    }

    body {
        overflow-y: hidden;  
        margin-left: 3vh; 
        margin-right: 3vh;
    }

    .foobar_logo {
        margin-top: 1vw;
        display: block; 
        width: 26vh;
        height: 16vh;
        margin-left: auto;
        margin-right: auto;
    
    }

    .foobar_logo_mobile {
        display: none;
    }

    .cols {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 8vh;
     }

    #col2 {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

}



