* {
    margin: 0;
}

body {
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #2a283d;
    overflow-y: hidden;
    
}

.foobar_logo {
    margin-top: 1vw;
    display: block; 
    width: 20vw;
    margin-left: auto;
    margin-right: auto;

}


.cols {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
}

.cols p {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    margin-bottom: 0.5vw;
}

.cols ul {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    margin-bottom: 0.5vw;
}

#col1 {
    width: 100%;
    max-height: 85%;
}

#col2 {
    width: 100%;
}

#col3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}



