body {
font-family: zooja-pro, sans-serif;
font-style: light;
font-weight: 100;
font-family: ccmeanwhile, sans-serif;
font-style: regular;
font-weight: 200;
font-family: lato, sans-serif;
font-style: thin;
font-weight: 100;

}